/* ombra hover su copertine canzoni */
.cover:hover .shadow{
    display: block;
}

/* grandezza hover su upgrade */
#upgrade a:hover{
    transform: scale(1.1);
    margin-right: 2.5em;
}

/* cambio colore hover su li div categorie */
#categorie li:hover a{
    color: white;
}

/* cambio colore hover colonna sinistra */
.col-menu li:hover a{
    color: white;
}

.col-menu li:hover{
    color: white;
}

.col-menu span:hover{
    color: white;
}

.fa-plus:hover{
    background-color: white;
}


/* cambio colore hover barra inferiore */
#player #details span:hover, #player #details i:hover{
    color: white;
}

/* cambio colore sfondo icona + */
#player #details span:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* grandezza icone play nella barra inferiore */
.icons .fa-play:hover{
    transform: scale(1.1);
}

/* comparsa indicatore in hover */
.barra:hover .indicatore{
    display: block;
}

.barra:hover span{
    background: linear-gradient(
        to right,
        rgb(173 255 47) 0%,
        rgb(173 255 47) 15%,
        rgb(90 90 90) 15%,
        rgb(90 90 90) 100%
    )
}