/* ombra hover su copertine canzoni */
.cover:hover .shadow{
    display: block;
}

/* grandezza hover su upgrade */
#upgrade a:hover{
    transform: scale(1.1);
    margin-right: 2.5em;
}

/* cambio colore hover su li div categorie */
#categorie li:hover a{
    color: white;
}

/* cambio colore hover colonna sinistra */
.col-menu li:hover a{
    color: white;
}

.col-menu li:hover{
    color: white;
}

.col-menu span:hover{
    color: white;
}

/* cambio colore hover barra inferiore */
#player #details span:hover, #player #details i:hover{
    color: white;
}

#player #details span:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* grandezza icone play nella barra inferiore */
.icons .fa-play:hover{
    transform: scale(1.1);
}