@media screen and (max-width: 1270px) {

    #categorie .row{
        flex-wrap: wrap;
    }

    .song{
        width: calc(100% / 4 - 15px);
    }

    .artist{
        width: 25%;
    }
    
    .laterale{
        width: 30%;
    }
}




@media screen and (max-width: 980px) {

    .song{
        width: calc(100% / 2 - 15px);
    }

    .artist{
        width: 45%;
    }
    
}




@media screen and (max-width: 750px) {
    
    .col-menu{
        width: 50px;
    }

    .col-menu .full-screen{
        display: none;
    }

    .col-dx{
        width: calc(100vw - 50px);
    }

    #upgrade{
        width: calc(100vw - 50px);
    }

    .xs-screen{
        display: block;
    }
}