*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
a{
    text-decoration: none;
    color: rgb(108 108 108);
}

body{
    color: rgb(108 108 108);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
    padding-left: 1em;
    margin: 1.3em 0;
}

h5, h3{
    margin: 0.7em 0;
    color: white;
}

h2{
    margin-bottom: 0.5em;
    color: white;
}

i{
    margin-right: 0.5em;
    cursor: pointer;
}

div img{
    width: 100%;
    max-height: 100%;
}

.container{
    display: flex;
    height: calc(100vh - 90px);
    overflow: hidden;
}


/* colonna sinistra nav */
.col-menu{
    width: 300px;
    height: calc(100vh - 90px);
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-screen{
    
}

#bottom-cell{
    flex-shrink: 0;
    background-color: black;
}

#up-cell{
    flex-shrink: 3;
    max-height: 65%;
    /* debug */
    background-color: darkcyan;
}


#up-cell div{
    
    /* debug */
    background-color: rebeccapurple;
    border: 2px solid yellowgreen;
}

#playlists{
    max-height: 50%;
}

.xs-screen{
    display: none;
    color: white;
    text-align: center;
    padding: 1em 0.2em;
}

.xs-screen i{
    display: block;
    margin: 1em 0;
}

.xs-screen img{
    width: 65%;
}

.col-menu .full-screen{
    padding: 1em 1.3em;
}

.col-menu li{
    width: 100%;
    margin: 0.8em 0;
    padding-left: 0.5em;
}

.active{
    color: rgb(210 210 210);
}

.active a{
    color: rgb(210 210 210);
}

.font-awesome::marker{
    font-family: "FontAwesome";
}

.home{
    list-style: "\f015";
}

.search{
    list-style: "\f002";
}

.collection{
    list-style: "\f03a";
}

.fa-plus{
    color: black;
    background-color: rgb(210 210 210);
    padding: 0.5em;
}

#playlists, #playlists ul, #playlists ul li{
    padding: 0;
}



#playlists ul{
    overflow-y: auto;
    /* debug */
}

#utente{
    margin-top: 0.5em;
    padding-top: 0.8em;
    border-top: 1px solid rgb(108 108 108);
}

.fa-user{
    font-size: 25px;
    background-color: rgb(108 108 108);
    padding: 0.3em 0.4em;
    border-radius: 50%;
}








/* colonna destra */
.col-dx{
    width: calc(100vw - 300px);
    background-color: rgb(20 25 34);
    overflow-y: auto;
}



/* contanuto principale pagina */
.contenuto{
    padding: 90px 1.5em;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}


#categorie li{
    font-weight: bold;
}

.current-category div{
    height: 2px;
    width: 50px;
    background-color: rgb(173 255 47);
    margin: 0 auto;
}

section .row{
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;
}


.song{
    width: calc(100% / 6 - 15px);
    text-align: center;
}


.cover{
    position: relative;
    height: fit-content;
}

.cover img{
    display: block;
}


.fa-play{
    color: white;
    border: 6px solid white;
    border-radius: 50%;
}

.shadow i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    padding: 0.1em 0.2em 0.1em 0.3em;
}

.shadow{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
}

.title{
    padding: 1em;
    /* debug */
}

.artist{
    width: 15%;
}

.artist img{
    border-radius: 50%;
}



/* barra superiore */
#upgrade{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    width: calc(100vw - 300px);
    text-align: right;
}

#upgrade a{
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 3em;
    margin: 1.3em 2em 1em 0;
    padding: 0.5em 2.2em;
}





/* barra inferiore */
#player{
    height: 90px;
    background-color: rgb(40 40 40);
    justify-content: flex-start;
    justify-content: space-between;
    padding: 1.5em 1em;
    font-size: 14px;
}

#player .row{
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


#player h4{
    font-size: 14px;
    color: white;
}

.laterale{
    width: 20%;
}

#pic{
    width: 10%;
}

#details{
    width: 40%;
    gap: 25px;
}




#centro{
    width: 50%;
    text-align: center;
    color: white;
    font-size: 10px;
}

#centro .icons{
    margin-bottom: 0.5em;
}

#centro .icons i{
    margin: 0 1em;
    font-size: 16px;
}

#centro .barra .white{
    width: 100px;
}

#centro .barra .black{
    width: 300px;
}

#centro .barra{
    display: inline-block;
    margin: 0 1.2em;
}

#centro .fa-play{
    border: 3px solid white;
    padding: 0.3em 0.4em 0.3em 0.5em;
}





#dx{
    justify-content: flex-end !important;
    margin: 1em 0;
}

.icons{
    color: white;
}

.barra{
    padding-bottom: 0.4em;
    width: 40%;
    position: relative;
}

.indicatore{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 100;
    left: 15%;
    display: none;

}

#dx .barra .indicatore{
    top: 4.5px;
    left: 14%;
}

.barra span{
    display: inline-block;
    height: 4px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;

    background: linear-gradient(
        to right,
        rgb(193 193 193) 0%,
        rgb(193 193 193) 15%,
        rgb(90 90 90) 15%,
        rgb(90 90 90) 100%
    )
}
