*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generali */
a{
    text-decoration: none;
    color: rgb(108 108 108);
}

body{
    color: rgb(108 108 108);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
    padding-left: 1em;
    margin: 1.3em 0;
}

h5, h3{
    margin: 0.7em 0;
    color: white;
}

h2{
    margin-bottom: 0.5em;
    color: white;
}

i{
    margin-right: 0.5em;
}

div img{
    width: 100%;
    max-height: 100%;
}

.container{
    display: flex;
    /* debug */
    height: calc(100vh - 90px);
}


/* colonna sinistra nav */
.col-menu{
    width: 300px;
    height: calc(100vh - 90px);
    background-color: black;
    padding: 1em 1.3em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-menu li{
    width: 100%;
    margin: 0.8em 0;
    padding-left: 0.5em;
}

.active{
    color: rgb(210 210 210);
}

.active a{
    color: rgb(210 210 210);
}

.font-awesome::marker{
    font-family: "FontAwesome";
}

.home{
    list-style: "\f015";
}

.search{
    list-style: "\f002";
}

.collection{
    list-style: "\f03a";
}



.fa-plus{
    color: black;
    background-color: rgb(108 108 108);
    padding: 0.5em;
}

#playlists ul, #playlists ul li{
    padding: 0;
}




#utente{
    margin-top: 0.5em;
    padding-top: 0.8em;
    border-top: 1px solid rgb(108 108 108);
}

#utente i{
    font-size: 25px;
    background-color: rgb(108 108 108);
    padding: 0.3em 0.4em;
    border-radius: 50%;
}





/* colonna destra */
.col-dx{
    width: calc(100vw - 300px);
    background-color: rgb(20 25 34);
    overflow-y: auto;
}



/* contanuto principale pagina */
.contenuto{
    padding: 90px 1.5em;
}

.row{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    /* debug */
    background-color: darkred;
}

#categorie{
    width: 50%;
    margin: 0 auto;
}

#categorie li{
    font-weight: bold;
}

section .row{
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;
}


.song{
    width: calc(100% / 6 - 15px);
    text-align: center;
    /* debug */
    border: 2px solid black;
    background-color: darkgoldenrod;
}


.cover{
    background-color: black;
    position: relative;
}


.cover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    border: 6px solid white;
    border-radius: 50%;
    padding: 0.1em 0.2em 0.1em 0.3em;
    display: none;
}

.cover:hover img{
    opacity: 0.4;
}

.cover:hover i{
    display: block;
}

.title{
    padding: 1em;
    /* debug */
}

.artist{
    overflow: hidden;
    border-radius: 50%;
    /* debug */
    background-color: darkgoldenrod;
}





/* barra superiore */
#upgrade{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    width: 100%;
    text-align: right;
}

#upgrade a{
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 3em;
    margin: 1.3em 18em 1em 0;
    padding: 0.5em 2.2em;
}





/* barra inferiore */
#player{
    height: 90px;
    background-color: rgb(40 40 40)
}

